
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;400;500;600&family=Bellefair&display=swap');
*{margin:0;}
main{
	background:url(starter-code/assets/home/background-home-desktop.jpg);
	width:100%;
	height:100%;
	background-size:100% 100%;
}
nav{width:100%;}
.nav-div1{
	float:right;
	width:60%;
	background:rgba(255,255,255,0.3);
	margin-top:30px;
}
.nav-div2{display:none;}
.nav-div1>a{
	display:inline-block;
	font-size:20px;
	width:20%;
	color:white;
	padding:25px 0px; 
	text-decoration:none;
	text-align:center;
	font-family: 'Barlow Condensed', sans-serif;
}
.nav-div1>a:hover{border-bottom:2px solid white;}
.nav-div{
	float:left;
	margin-top:30px;
	padding:13px 0px;
	margin-left:50px;
}
.nav-div>a{display:inline-block;}
.sec1{
	width:100%;
}
.sec1-art1{
	clear:left;
	float:left;
	width:70%;
	color:white;
}
.sec1-art1-div{
	width:60%;
	margin:0px auto;
	margin-top:180px;
}
.sec1-art1-div>h2{
	font-size:35px;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight:400;
	color:rgba(255,255,255,0.4);
}
.sec1-art1-div>h1{
	font-size:80px;
	font-family: 'Bellefair', serif;
	font-weight:100;
	margin-top:50px;
}
.sec1-art1-div>p{
	font-size:20px;
	font-family: 'Barlow Condensed', sans-serif;
	color:rgba(255,255,255,0.4);
}
.sec1-art2{
	clear:right;
	width:30%;
	float:right;
}
.sec1-art2>a{text-decoration:none;}
.sec1-art2-div1{
	margin-top:170px;
	width:200px;
	height:200px;
	border-radius:100px;
	display:flex;
	background:white;
}
.sec1-art2-div1>h1{
	margin:auto;
	font-size:30px;
	font-family: 'Barlow Condensed', sans-serif;
	letter-spacing:5px;
	color:rgba(0,0,0,0.8);
}
.sec1-art2-div1:hover{
	box-shadow: 0px 0px 0px 50px rgba(255,255,255,0.6);
    transition: 0.5s;
}
@media (max-width:991px){
	main{
		background:url(starter-code/assets/home/background-home-mobile.jpg);
		background-size:100% 100%;
		height:none;
	}
	.nav-div1{display:none;}
	.sec1-art2,.sec1-art1{
		float:none;
		width:100%;
		display:block;
		height:50%;
	}
	.sec1-art1-div{
		width:80%;
		text-align:center;
	}
	.sec1-art1-div>h1{
		font-size:100px;
	}
	.sec1-art2{
		width:100%;
		margin-top:100px;
	}
	.sec1-art2-div1{
		margin:0;
		margin:0px auto;
	}
	.nav-div2{
		display:block;
		float:right;
		margin:30px;
	}
	.nav-div{margin:0;margin:10px;}
	.sec1-art1-div>h1{margin:0;}
}