@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;400;500;600&family=Bellefair&display=swap');
*{margin:0;}
main{
	background:url(starter-code/assets/home/background-home-desktop.jpg);
	width:100%;
	background-size:100% 100%;
}
nav{width:100%;}
.nav-div1{
	float:right;
	width:60%;
	background:rgba(255,255,255,0.3);
	margin-top:30px;
}
a{
	text-decoration:none;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight:400;
}
.nav-div2{display:none;}
.nav-div1>a{
	display:inline-block;
	font-size:20px;
	width:20%;
	color:white;
	padding:25px 0px; 
	text-decoration:none;
	text-align:center;
	font-family: 'Barlow Condensed', sans-serif;
}
.nav-div1>a:hover{border-bottom:2px solid white;}
.nav-div{
	float:left;
	margin-top:30px;
	padding:13px 0px;
	margin-left:50px;
}
.nav-div>a{
	display:inline-block;
	font-size:40px;
	color:white;
	font-weight:600;
	text-decoration:none;
	font-family: 'Barlow Condensed', sans-serif;
}
.nav-div>a:hover{color:orange;transition:0.4s;}
.title{
	clear:left;
	width:40%;
	background:rgba(255,255,255,0.3);
	text-align:center;
}
.title>h1{
	font-size:40px;
	color:white;
	font-family: 'Barlow Condensed', sans-serif;
	width:30%;
	margin:0px auto;
	padding:10px 0px;
}
.title>h1:hover{border-bottom:2px solid white;}
.sec1{
	width:100%;
	display:flex;
	flex-wrap: wrap;
	clear:left;
}
.sec1-div{
	width:30%;
	margin:2% 1%;
}
.sec1-div>img{
	width:100%;
	height:200px;
}
.sec1-div-div{
	width:100%;
	background:white;
	height:300px;
	display:flex;
}
.sec1-div-div1{
	width:80%;
	margin:auto;
}
.sec1-div-div1>h1{
	font-size:30px;
	font-family: 'Barlow Condensed', sans-serif;
	padding:5px 0px;
}
.sec1-div-div1>p{
	font-size:20px;
	font-family: 'Barlow Condensed', sans-serif;
	padding:10px 0px;
}
.sec1-div-div1>a{
	display:inline-block;
	padding:10px 20px;
	margin:10px 0px;
	background:black;
	color:white;
}
img{opacity:0.8;}
img:hover{opacity:1;transition:0.5s;}
@media (max-width:991px) and (min-width:336px){
	main{
		width:100%;
		background:url(starter-code/assets/home/background-home-mobile.jpg);
		background-size:100% 100%;
		height:none;
	}
	.nav-div1{display:none;}
	.nav-div2{
		display:block;
		float:right;
		margin:30px;
	}
	.nav-div{margin:0;margin:10px;}
	.sec1-div{
	width:80%;
	margin:20px auto;
	}
	.title{
		width:100%;
	}
}
